[Unit]
Description=Confirm a healthy Widelapse OS boot
Requires=widelapse-init-ota.service rauc.service
After=widelapse-init-ota.service rauc.service ssh.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/widelapse-rauc-confirm
TimeoutStartSec=90
